.CartoonChapter{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.CartoonChapter>li{
  width: 35%;
  height: 2rem;
  border: 0.1rem solid rgb(47, 47, 47);
  border-radius: 0.2rem;
  line-height: 2rem;
  text-align: center;
  margin-top: 1rem ;
  margin-left: 9%;
  margin-bottom: 1rem;
}